.App {
  min-height: 100vh;
  background-color: #282c34;
  margin: 0 auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1em;
}

.previous,
.next {
  font-weight: 900;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel__inner {
  display: flex;
  gap: 2rem;
  /* background-color: rgb(53, 161, 197); */
}

.item {
  min-height: 20rem;
  min-width: 15rem;
  margin: 1em 0;
}

.item img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  transition: all 0.15s ease-in;
  /* overflow: contain; */
}

.carousel {
  overflow: hidden;
  width: min(90%, 32rem);
  /* background-color: lightcoral; */
  margin: 1em auto;
  padding: 1em 1em;
}

@media (max-width: 40em) {
  .item {
    min-width: 13rem;
  }
}

.App__mainDiv {
  position: relative;
  display: flex;
  align-items: center;
}

.navigateBefore,
.navigateNext {
  position: absolute;
  transform: translate(-10%, -50%);
  cursor: pointer;
  color: white;
  transition: all 2s ease;
}

.navigateBefore {
  top: 50%;
  left: 10%;
}

.navigateNext {
  top: 50%;
  right: 10%;
}

.navigateBefore:hover,
.navigateNext:hover {
  color: #61dafb;
}
